# Fitness Data Set Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('workout_data.csv')

In [4]:
df.shape

(4224, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              4224 non-null   object
 1   Workout Name      4224 non-null   object
 2   Exercise Name     4224 non-null   object
 3   Set Order         4224 non-null   int64
 4   Weight            1924 non-null   float64
 5   Weight Unit       1924 non-null   object
 6   Reps              4069 non-null   float64
 7   RPE               0 non-null      float64
 8   Distance          2 non-null      float64
 9   Distance Unit     155 non-null    object
 10  Seconds           4224 non-null   int64
 11  Notes             64 non-null     object
 12  Workout Notes     28 non-null     object
 13  Workout Duration  4224 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 462.1+ KB

In [9]:
mean_value = df['Weight'].mean()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              4224 non-null   object
 1   Workout Name      4224 non-null   object
 2   Exercise Name     4224 non-null   object
 3   Set Order         4224 non-null   int64
 4   Weight            1924 non-null   float64
 5   Weight Unit       1924 non-null   object
 6   Reps              4069 non-null   float64
 7   RPE               0 non-null      float64
 8   Distance          2 non-null      float64
 9   Distance Unit     155 non-null    object
 10  Seconds           4224 non-null   int64
 11  Notes             64 non-null     object
 12  Workout Notes     28 non-null     object
 13  Workout Duration  4224 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 462.1+ KB

In [11]:
mean_value = df['Weight'].mean()