# Fitness Data Set Analysis

This project is me learning how to use python for data analysis in Jupyter Notebooks. This data set is my own data from a few months of working out using the *Strong* app. The data was exported to csv. I'm working on becoming a personal trainer, and the ability to analyze, display and predict outcomes based on fitness data would be very valueable to me personally. 

This data set is scattered, as I was trying to lock in a workout program. Other challenges include iconsistent workout names, infrequent workouts and there isn't that much data in the file.

In [1]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import my workout data csv called "Workout_Data"
df = pd.read_csv('workout_data.csv')

#this command tells me how many columns and rows make up the data set. 
df.shape

(4224, 14)

In [2]:
#.head shows me the first 5 rows of this data set.
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Weight Unit,Reps,RPE,Distance,Distance Unit,Seconds,Notes,Workout Notes,Workout Duration
0,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),1,90.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m
1,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),2,130.0,lbs,5.0,NaN,NaN,NaN,0,NaN,NaN,31m
2,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),3,130.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m
3,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),4,140.0,lbs,5.0,NaN,NaN,NaN,0,NaN,NaN,31m
4,2019-09-17 17:52:12,3. Legs,Leg Press,1,145.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m

Here I begin my analysis, where I filter the dataset to only those rows that have the workout name "Pull", in order to know that there are any workouts with that name at all I used the unique() method to print out the unique workout names in the data. 

I've always been bad at pullups and wanted to get better at them so my main focus here is pull ups.

In [3]:
unique_workoutnames = df["Workout Name"].unique()

In [4]:
## Make sure to figure out how to grab the dates here.

print(df["Date"].dtype)

df.head()

df['short_Date'] = df['Date'].str.slice(0,10)

df.head()

object

,Date,Workout Name,Exercise Name,Set Order,Weight,Weight Unit,Reps,RPE,Distance,Distance Unit,Seconds,Notes,Workout Notes,Workout Duration,short_Date
0,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),1,90.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17
1,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),2,130.0,lbs,5.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17
2,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),3,130.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17
3,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),4,140.0,lbs,5.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17
4,2019-09-17 17:52:12,3. Legs,Leg Press,1,145.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17

In [5]:
unique_exercises = df["Exercise Name"].unique()

print(unique_exercises, ".........", unique_workoutnames)

pullup_subset = df[df['Exercise Name']=='Pull Up']
chinup_subset = df[df['Exercise Name'] == 'Chin Up']

['Squat (Smith Machine)' 'Leg Press' 'Seated Leg Curl (Machine)'
 'Seated Calf Raise (Machine)' 'Bench Press (Smith Machine)'
 'Incline Bench Press (Smith Machine)' 'Bench Press (Dumbbell)'
 'Triceps Extension (Dumbbell)' 'Crunch' 'Pull Up'
 'Bent Over One Arm Row (Dumbbell)' 'Lat Pulldown - Wide Grip (Cable)'
 'Bicep Curl (Barbell)' 'Calf Press on Leg Press'
 'Leg Extension (Machine)' 'Sit Up' 'Bicep Curl (Dumbbell)'
 'Hanging Knee Raise' 'Squat (Bodyweight)' 'Jump Squat'
 'Lunge (Bodyweight)' 'Glute Ham Raise' 'Burpee' 'Push Up' 'Pike Press'
 'Chest Dip' 'Chin Up' 'Bicycle Crunch' 'Plank' 'Bulgarian Split Squat'
 'Shrimp Squat' 'Kettlebell Swing' 'Bridge' 'Arnold Press (Dumbbell)'
 'Lunge (Dumbbell)' 'Kb carry' 'Inverted Row (Bodyweight)'
 'Kettlebell Press' 'Russian Twist' 'Hollow Body Hold'
 'Goblet Squat (Kettlebell)' 'Suit case carry' 'Reverse Crunch'
 'Side Bend (Dumbbell)' 'Side Plank' 'Wide Pull Up' 'KB lateral Raise'
 'Bent Over Row (Dumbbell)' 'Waiter Curl' 'Superman'
 'Romanian Deadlift (Dumbbell)' 'Plank ups ' 'Hip Thrust (Barbell)'
 'Oblique Crunch' 'Shoulder Halo' 'Jumping Jack' 'Bench Dip'
 'KB Stand Ups' 'Jump Rope' 'Diamond Push Up' 'Push Up (Band)'
 'Single arm kettlebell Row' 'Gorilla Row' 'Deadlift (Dumbbell)'
 'Ab Wheel' 'KB deadlift ' 'kb squat' 'Knees to Elbows' 'Running'
 'Toes To Bar' 'L Sit ' 'Kettlebell Turkish Get Up'
 'Crunch (Stability Ball)' 'Concentration Curl (Dumbbell)' 'Cossack Squat'
 'Hip Thrust (Bodyweight)' 'Kettlebell Snatch' 'Kb clean and jerk'
 'Lateral Raise (Dumbbell)' 'Front Raise (Dumbbell)' 'one arm pushup'
 'Pistol Squat'] ......... ['3. Legs' '1. Push and Core' '2. Pull and Calves' 'Pull'
 'Lower Body and Cardio' 'Upper Body and Core' 'Morning Workout'
 'Evening Workout' 'Afternoon Workout' 'Full Body Circuit' 'Full Body'
 'Core' 'Upper Body' 'Legs and Core' 'Midday Workout' 'Full Body Thrash']

In [6]:
print(pullup_subset, chinup_subset)

                     Date        Workout Name Exercise Name  Set Order  \
30    2019-09-23 17:31:42  2. Pull and Calves       Pull Up          1
31    2019-09-23 17:31:42  2. Pull and Calves       Pull Up          2
32    2019-09-23 17:31:42  2. Pull and Calves       Pull Up          3
73    2019-09-29 11:54:39                Pull       Pull Up          1
74    2019-09-29 11:54:39                Pull       Pull Up          2
...                   ...                 ...           ...        ...
2530  2021-02-27 17:21:59   Afternoon Workout       Pull Up          1
2531  2021-02-27 17:21:59   Afternoon Workout       Pull Up          2
2532  2021-02-27 17:21:59   Afternoon Workout       Pull Up          3
4085  2021-10-18 20:26:23    Full Body Thrash       Pull Up          1
4086  2021-10-18 20:26:23    Full Body Thrash       Pull Up          2

      Weight Weight Unit  Reps  RPE  Distance Distance Unit  Seconds Notes  \
30       NaN         NaN   6.0  NaN       NaN           NaN        0   NaN
31       NaN         NaN   6.0  NaN       NaN           NaN        0   NaN
32       NaN         NaN   5.0  NaN       NaN           NaN        0   NaN
73       NaN         NaN   6.0  NaN       NaN           NaN        0   NaN
74       NaN         NaN   4.0  NaN       NaN           NaN        0   NaN
...      ...         ...   ...  ...       ...           ...      ...   ...
2530     NaN         NaN   6.0  NaN       NaN           NaN        0   NaN
2531     NaN         NaN   4.0  NaN       NaN           NaN        0   NaN
2532     NaN         NaN   5.0  NaN       NaN           NaN        0   NaN
4085     0.0         lbs   5.0  NaN       NaN           NaN        0   NaN
4086     0.0         lbs   5.0  NaN       NaN           NaN        0   NaN

     Workout Notes Workout Duration  short_Date
30             NaN              34m  2019-09-23
31             NaN              34m  2019-09-23
32             NaN              34m  2019-09-23
73             NaN              41m  2019-09-29
74             NaN              41m  2019-09-29
...            ...              ...         ...
2530           NaN              44m  2021-02-27
2531           NaN              44m  2021-02-27
2532           NaN              44m  2021-02-27
4085           NaN              33m  2021-10-18
4086           NaN              33m  2021-10-18

[133 rows x 15 columns]                      Date         Workout Name Exercise Name  Set Order  \
112   2020-05-14 17:06:44  Upper Body and Core       Chin Up          1
113   2020-05-14 17:06:44  Upper Body and Core       Chin Up          2
114   2020-05-14 17:06:44  Upper Body and Core       Chin Up          3
115   2020-05-14 17:06:44  Upper Body and Core       Chin Up          4
116   2020-05-14 17:06:44  Upper Body and Core       Chin Up          5
...                   ...                  ...           ...        ...
4056  2021-09-22 17:24:33           Upper Body       Chin Up          2
4057  2021-09-22 17:24:33           Upper Body       Chin Up          3
4075  2021-10-11 16:50:35           Upper Body       Chin Up          1
4076  2021-10-11 16:50:35           Upper Body       Chin Up          2
4077  2021-10-11 16:50:35           Upper Body       Chin Up          3

      Weight Weight Unit  Reps  RPE  Distance Distance Unit  Seconds  \
112      NaN         NaN   7.0  NaN       NaN           NaN        0
113      NaN         NaN   4.0  NaN       NaN           NaN        0
114      NaN         NaN   4.0  NaN       NaN           NaN        0
115      NaN         NaN   4.0  NaN       NaN           NaN        0
116      NaN         NaN   3.0  NaN       NaN           NaN        0
...      ...         ...   ...  ...       ...           ...      ...
4056    35.0         lbs   4.0  NaN       NaN           NaN        0
4057    35.0         lbs   3.0  NaN       NaN           NaN        0
4075     0.0         lbs   9.0  NaN       NaN           NaN        0
4076     0.0         lbs   5.0  NaN       NaN           NaN        0
4077     0.0         lbs   4.0  NaN       NaN           NaN        0

            Notes Workout Notes Workout Duration  short_Date
112   To failure            NaN              49m  2020-05-14
113           NaN           NaN              49m  2020-05-14
114           NaN           NaN              49m  2020-05-14
115           NaN           NaN              49m  2020-05-14
116           NaN           NaN              49m  2020-05-14
...           ...           ...              ...         ...
4056          NaN           NaN           1h 14m  2021-09-22
4057          NaN           NaN           1h 14m  2021-09-22
4075          NaN           NaN              26m  2021-10-11
4076          NaN           NaN              26m  2021-10-11
4077          NaN           NaN              26m  2021-10-11

[305 rows x 15 columns]

In [7]:
max_pullups = pullup_subset['Reps'].max()
max_chinups = chinup_subset['Reps'].max()
print('My maximum pullups is',max_pullups,'and my maximum chinups is', max_chinups )

My maximum pullups is 14.0 and my maximum chinups is 13.0

In [8]:
unique_dates = df["short_Date"].unique()

sum_dates = df["short_Date"].count()

print(sum_dates,unique_dates)

4224 ['2019-09-17' '2019-09-22' '2019-09-23' '2019-09-24' '2019-09-28'
 '2019-09-29' '2020-05-12' '2020-05-14' '2020-05-15' '2020-05-21'
 '2020-05-23' '2020-05-25' '2020-05-26' '2020-05-28' '2020-05-29'
 '2020-06-01' '2020-06-04' '2020-06-08' '2020-06-09' '2020-06-11'
 '2020-06-15' '2020-06-16' '2020-06-18' '2020-06-19' '2020-06-29'
 '2020-07-02' '2020-07-03' '2020-07-06' '2020-07-07' '2020-07-09'
 '2020-07-10' '2020-07-13' '2020-07-14' '2020-07-16' '2020-07-17'
 '2020-07-20' '2020-07-21' '2020-07-23' '2020-08-03' '2020-08-04'
 '2020-08-06' '2020-08-07' '2020-08-08' '2020-08-09' '2020-08-10'
 '2020-08-11' '2020-08-12' '2020-08-13' '2020-08-15' '2020-08-16'
 '2020-08-17' '2020-08-18' '2020-08-19' '2020-08-20' '2020-08-21'
 '2020-08-24' '2020-08-25' '2020-08-27' '2020-08-29' '2020-08-31'
 '2020-09-01' '2020-09-03' '2020-09-04' '2020-09-07' '2020-09-08'
 '2020-09-10' '2020-09-11' '2020-09-14' '2020-09-15' '2020-09-18'
 '2020-09-21' '2020-09-23' '2020-09-28' '2020-09-29' '2020-10-01'
 '2020-10-05' '2020-10-06' '2020-10-08' '2020-10-12' '2020-10-13'
 '2020-10-14' '2020-10-15' '2020-10-16' '2020-10-19' '2020-10-20'
 '2020-10-21' '2020-10-22' '2020-10-23' '2020-10-26' '2020-10-27'
 '2020-10-28' '2020-11-02' '2020-11-04' '2020-11-06' '2020-11-09'
 '2020-11-11' '2020-11-12' '2020-11-13' '2020-11-17' '2020-11-18'
 '2020-11-19' '2020-11-23' '2020-11-30' '2020-12-02' '2020-12-07'
 '2020-12-08' '2020-12-14' '2020-12-15' '2020-12-21' '2020-12-22'
 '2020-12-28' '2020-12-29' '2020-12-31' '2021-01-04' '2021-01-05'
 '2021-01-07' '2021-01-08' '2021-01-11' '2021-01-12' '2021-01-14'
 '2021-01-19' '2021-01-21' '2021-01-22' '2021-01-25' '2021-01-26'
 '2021-01-28' '2021-01-29' '2021-02-04' '2021-02-08' '2021-02-25'
 '2021-02-27' '2021-03-02' '2021-03-03' '2021-03-04' '2021-03-08'
 '2021-03-09' '2021-03-11' '2021-03-12' '2021-03-16' '2021-03-24'
 '2021-03-27' '2021-03-29' '2021-03-30' '2021-03-31' '2021-04-02'
 '2021-04-03' '2021-04-05' '2021-04-07' '2021-04-09' '2021-04-12'
 '2021-04-15' '2021-04-19' '2021-04-21' '2021-04-26' '2021-04-28'
 '2021-05-03' '2021-05-10' '2021-05-11' '2021-05-12' '2021-05-13'
 '2021-05-17' '2021-05-18' '2021-05-19' '2021-05-20' '2021-05-24'
 '2021-05-27' '2021-05-28' '2021-05-30' '2021-06-01' '2021-06-02'
 '2021-06-03' '2021-06-07' '2021-06-08' '2021-06-14' '2021-06-15'
 '2021-06-16' '2021-06-19' '2021-06-21' '2021-06-22' '2021-06-27'
 '2021-06-28' '2021-06-29' '2021-07-06' '2021-07-07' '2021-07-08'
 '2021-07-12' '2021-07-13' '2021-07-16' '2021-07-18' '2021-07-20'
 '2021-07-26' '2021-07-28' '2021-08-02' '2021-08-03' '2021-08-10'
 '2021-08-17' '2021-08-19' '2021-08-22' '2021-08-25' '2021-08-30'
 '2021-09-01' '2021-09-06' '2021-09-08' '2021-09-11' '2021-09-13'
 '2021-09-18' '2021-09-20' '2021-09-22' '2021-10-11' '2021-10-18'
 '2021-11-09' '2021-11-15' '2021-11-16' '2021-11-18' '2021-11-29'
 '2021-12-01' '2021-12-06' '2021-12-09']

In [9]:
corresponding_value = df.loc[df['Reps'] == 14, 'short_Date'].iloc[0]

print(corresponding_value)

2020-05-12

A common measurement in fitness is Volume, which is the weight multiplied by the reps performed. So if I did bicep curls for 3 sets of 10 reps with 10lbs weights my volume would be 10 x 10 x 3 or 300lbs of volume. 

Below I'll create a volume column which will just be weight X reps.

In [11]:
df['volume_lbs'] = df['Reps']*df["Weight"]

df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Weight Unit,Reps,RPE,Distance,Distance Unit,Seconds,Notes,Workout Notes,Workout Duration,short_Date,volume_lbs
0,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),1,90.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17,540.0
1,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),2,130.0,lbs,5.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17,650.0
2,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),3,130.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17,780.0
3,2019-09-17 17:52:12,3. Legs,Squat (Smith Machine),4,140.0,lbs,5.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17,700.0
4,2019-09-17 17:52:12,3. Legs,Leg Press,1,145.0,lbs,6.0,NaN,NaN,NaN,0,NaN,NaN,31m,2019-09-17,870.0

In [13]:
# my average volume for a set

avg_set_volume = df['volume_lbs'].mean()

print(avg_set_volume)

289.25467775467774

In [14]:
# run a correlation coefficient between weight and reps? 

correlation_coefficient = df['Weight'].corr(df['Reps'])

# Print the correlation coefficient
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")

Pearson Correlation Coefficient: -0.2471646575937313

This shows a slightly inverse correlation between weight and reps. Which makes sense, as the weight increases my rep counts should go down as I'm likely unable to perform the given exercise as many times with an increased load.